* {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  list-style-type: none; 


}

img {
  width: 250px;
  border-radius: 5%;
  margin: auto;
}

.main-head {
  grid-area: header;
  font-size: 2em;
  background-color: #c7cfb7;
  padding: 30px
}
.content {
  grid-area: content;
  background-color: #f7f7e8;
}
.main-nav {
  grid-area: nav;
  background-color: #9dad7f;
  align-self: auto;

}
.side {
  grid-area: sidebar;
  background-color: #c7cfb7;


}

.ad {
  grid-area: ad;
  background-color: #557174;
}
.main-footer {
  grid-area: footer;
  background-color: #c7cfb7;
  padding: 30px;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}